<div class="contents row">
  <div class="container ms-3">
    <p>※動画を添付し、よりわかりやすい質問を心掛けましょう</p>
    <%= form_with(model: @question, local: true) do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      <p class="fw-bold text-decoration-underline">質問内容（必須）</P>
      <%= f.text_area :text, placeholder: "具体的に記載してください", rows: "8", class:"col-5" %>
      <p class="fw-bold text-decoration-underline">添付動画（任意）</p>
      <%= f.file_field :video %>
      <%= f.submit "送信" %>
    <% end %>
  </div>
</div>