<%= form_with(url: search_questions_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<div class="contents row">
  <% @questions.each do |question| %>
    <p>投稿者：<%= question.user.nickname %></p>
    <p><%= question.text %></p>
    <p><%=link_to '上の詳細', question_path(question.id) %></p>
  <% end %>
</div>