<%# indexと同じ %>
<%= form_with(url: search_questions_path, local: true, method: :get, class: "form-group mb-2 pb-2") do |form| %>
  <span class="ms-3">ワード検索</span>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "form-group col-3 mt-1 ms-3" %>
  <%= form.submit "検索", class: "search-btn ms-1" %>
<% end %>

<div class="border-bottom ms-3 pb-2">↓最新投稿順</div>

<div class="">
  <% @questions.each do |question| %>
    <div class="border-bottom ps-3 pt-1 pb-2">
      <div class="d-flex">
        <div class="">
          <b>質問者</b>：<%= question.user.nickname %>
        </div>
        <div class="ms-2">
          <b>投稿日時</b>：<%= l question.created_at %>
        </div>
        <% if question.best_answer_question_id.present? %>
          <div class="ms-2 border border-danger border-3 rounded">
            <b class="text-danger">解決済み</b>
          </div>
        <% end %>
      </div>
      <div class="border rounded mt-2 mb-2 col-5">
        <p class="text-break"><%= simple_format(question.text) %></p>
      </div>
      <button type="button" class="btn btn-outline-info "><%=link_to '詳細', question_path(question.id) %></button>
    </div>
  <% end %>
</div>