<div class="contents row">
  <p>投稿者：<%= @question.user.nickname %></p>
  <p><%= @question.text %></p>
  <video src="<%= rails_blob_path(@question.video) %>" width="960" height="720" controls></video>
  <%# 投稿者のみログイン時編集、削除できる %>
  <% if user_signed_in? %>
    <% if @question.user.id == current_user.id %>
      <p><%= link_to "質問の編集", edit_question_path(@question.id), method: :get, class: "item-red-btn" %></p>
      <p><%= link_to "質問の削除", question_path(@question.id), method: :delete, class:"item-destroy" %></p>
    <% end %>
  <% end %>
  <%# コメント機能 %>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@question, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
  <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= Rinku.auto_link(comment.text, :all, 'target="_blank"').html_safe %>
          <%# <%= comment.text %>
        </p>
      <% end %>
    </div>
</div>