<!DOCTYPE html>
<html>
  <head>
    <title>SnowTechup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# header仮作成 %>
    <header class="header">
      <div class="header_bar row">
        <h1 class="grid-6"><a href="/">Snow-Techup</a></h1>
        <div class='nav'>
          <ul class='lists-left'>
            <li><%= link_to '投稿する', new_question_path, class: "post" %></li>
          </ul>
          <ul class='lists-right'>
            <% if user_signed_in? %>
              <li><%= link_to current_user.nickname, edit_user_registration_path, class: "user-nickname" %></li> 
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"  %></li>
            <% else %>
              <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
              <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>
    <%# header仮作成 %>

    <%= yield %>

    <%# footer仮作成 %>
    <footer>
      <p>
        Copyright Snow-Techup 2022.
      </p>
    </footer>
    <%# footer仮作成 %>
  </body>
</html>
